/**
 * File name: modules/_buttons.scss
 *
 */





.m-button-block {
	margin-top: 10px;
	@include breakpoint (tablet) {
    	width: 49.2%;
	}
}




[class*='js-btn-'] {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: $maxWidth-small;
}



	
.button {
	color: $dark;
	border: 1px solid #333333;
	background: $accent;
  	box-shadow: inset 0 1px lighten($accent, 10%);
  	// text-shadow: 0 -1px 1px darken( $accent, 10% );

  	height: 35px;
  	line-height: 35px;
  	font-size: inherit;
  	font-size: 80%;
  	font-weight: 600;
  	letter-spacing: -0.07em;

	&:hover {
		color: $dark;
		background: lighten($accent, 5%);
  		box-shadow: inset 0 1px lighten($accent, 20%);
	}

	&:active {
		background: darken( $accent, 5% );
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
	}

	&.is-active {
		opacity: 1;
		cursor: pointer;
		// pointer-events: none;
	}

	&.is-disabled {	
		opacity: 0.1;
		cursor: default;
		pointer-events: none;
	}
}




button.button {
	letter-spacing: normal;
}




@keyframes buzz 
{
  20%	{	text-shadow: 0px 0px 2px $accent-glow, 0px 0px 5px $accent-glow;
  			color: $accent-glow;
			transform: translateX(-3px) rotate(-15deg) scale(1.1);
  		}
  40%	{ transform: translateX(3px) rotate(10deg); }
  60%	{ transform: translateX(-2px) rotate(-5deg); }
  80%	{ transform: translateX(1px); }
}

@keyframes buzz-box
{
  20%	{	box-shadow: 0px 0px 2px $accent-glow, 0px 0px 5px $accent-glow;
			border: 2px solid $accent-glow;
  		}
}

.anim-buzz {
  	animation: buzz 1.2s ease-out;

  	&:after {
  		animation: buzz-box 1.2s ease-out;
  	}
}




@keyframes bgFlash 
{
  20%	{	text-shadow: 0px 0px 2px $accent-glow, 0px 0px 5px $accent-glow;
  			color: $accent-glow;
			transform: translateX(10px);
  		}
}

.js-anim-bg {
  	animation: bgFlash 1.2s ease-out;
}




.m-inquiry-block {

	&.toggle-on .m-btn-info {
		color: $dark;

		&:after {
			border: 3px solid $accent-glow;
			background-color: $accent-glow;
		}
	}
  
	.m-btn-info {
		display: block; 
		position: absolute;
		width: 35px;
		height: 35px;
		line-height: 35px;
		top: -4px;
		left: 16.5px;
		cursor: pointer;
		font-size: 1.2em;
		color: $accent;
		text-align: center;
		opacity: 1;
		text-shadow: none;

		&:after {
			content: '';
			display: block;
			position: absolute;
			border: 3px solid $accent;
			width: 100%;
			height: 100%;
			top: 0; left: 0;
			border-radius: 50%;
			z-index: -1;
		}

		&:hover {
			transform: scale(1.15);
		}
	}
}

.touch .m-btn-info:hover {
	transform: none;
}

